
{% extends "user_base.html" %}
{% load static %}

{% block title %}
Username's profile
{% endblock %}

{% block content %}
<style>
    
    .sidebar .footer {
        background: GREEN;
        color: #fff;
        position:fixed;
        width:100%;
        top:200px;
        left:0;
        padding top:20px;
        padding left:20px;
        height:60px;
        z-index:100;
    }
</style>

<body>
    
{% include "includes/alerts.html" %}
 
{% include "includes/user_navbar.html" %}

<!--=========Main start==========-->
<main class="main">  
<!--===================--> 
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-70 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            {% include "profile/profile-menu.html" %}
                        </div>
                        <div class="col-md-8">
                    <!--============= Edit profile ============-->
                   
                        <div class="card">
                            <div class="card-header">
                                <h5>Account Details</h5>
                            </div>
                            <div class="card-body">
                               
                                <form method="post" name="enq">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Your First Name <span class="required">*</span></label>
                                            {{form.first_name}}
                                            {% if error %}
                                                    <label class="text-danger">{{error.first_name}}</label>
                                                {% endif %}
                                        </div>
                                    
                                        <div class="form-group col-md-6">
                                            <label>Your Last Name <span class="required">*</span></label>
                                            {{form.last_name}}                                  {% if error %}
                                                    <label class="text-danger">{{error.last_name}}</label>
                                                {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>What's Your Birthday? <span class="required">*</span></label>
                                            {{form.date_of_birth}} 
                                            {% if error %}
                                                    <label class="text-danger">{{error.date_of_birth}}</label>
                                                {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Select your Gender <span class="required">*</span></label>
                                            {{form.gender}}
                                            {% if error %}
                                                    <label class="text-danger">{{error.gender}}</label>
                                            {% endif %}
                                        </div>
                                       {% comment %}  <div class="mb-4">
                                            <label class="form-label">Upload your Profile picture</label>
                                            <div class="row gx-2">
                                                {{ form.profile_image }}
                                                {% if error %}
                                                    <label class="text-danger">{{error.profile_image}}</label>
                                                {% endif %}
                                            </div>
                                        </div {% endcomment %}>
                                       
                                        <div class="col-md-12">
                                            <div class="row mt-2">
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <button type="submit" class="w-100 btn btn-md rounded-pill font-sm hover-up">Update Profile</button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <a href="{% url 'user_app:account_details' %}" class="btn btn-dark rounded-pill w-100">Go Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                 
                    <!--============= Edit profile ============-->
                        </div>
                    </div>
                </div>
        </div>
    </section>


<!--=========Main end==========-->
</main>
<!--===================--> 

{% include "includes/user_footer.html" %}

<!--========= Vendor JS==========-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!--===================-->

<!--========= Template  JS ==========-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
<!--===================-->  
</body>

            </div>
{% endblock content %}