


{% extends "user_base.html" %}
{% load static %}

{% block title %}
{{user}}'s cart
{% endblock %}

{% block content %}
<body>
    
{% include "includes/alerts.html" %}
 
{% include "includes/user_navbar.html" %}

    <!--=========Main start==========-->
    <main class="main">  
    <!--===================--> 

        <!--================== checkout =====================-->
        
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="index.html" rel="nofollow">Home</a>
                        <span></span> Shop
                        <span></span> Shipping Address
                        <span></span> Checkout
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-sm-15">
                           
                        </div>
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-12">
                            <div class="divider mt-50 mb-50"></div>
                        </div>
                    </div> {% endcomment %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-25">
                                <h4>Billing Details</h4>
                            </div>

                            <form action="{% url 'order_app:place_order' %}" method="post" name="add-address-form">
                                {% csrf_token %}
                               {% comment %}  {% if addresses %}
                                <!--============= Listing Address ============-->
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 ml-4">Addresses</h6>
                                    <a class="dash__custom-link btn" href="{% url 'user_app:add_address' %}">Add Address</a>
                                </div>
                                
                                <div class="row">
                                    {% for address in addresses %}
                                        <div class="card m-2 d-flex flex-column">
                                            <div class="card-body" {% if address.is_default %} style="background: #dedddd;" {% endif %}>
                                                <div class="row justify-content-between">
                                                    <div class="col-7">
                                                        <h6 class="card-subtitle mb-2 text-muted">Address {{ forloop.counter }}</h6>
                                                        <p class="card-text text-wrap">
                                                            {{ address.get_user_full_address }}
                                                        </p>
                                                    </div>
                                                    <div class="col-4  d-flex align-items-center overflow-hidden justify-content-between my-1 py-1">
                                                        <a class="" href="{% url 'user_app:edit_address' address.id %}">
                                                            <img width="" src="{% static 'assets\imgs\icons\pencil-square.svg' %}" alt="edit">
                                                        </a>
                                                        <a href="{% url 'user_app:delete_address' address.id %}" class="mx-0">
                                                            <img width=""  src="{% static 'assets\imgs\icons\trash3.svg' %}" alt="delete">
                                                        </a>
                                                        {% if address.is_default %}
                                                            <img width="" class='mb-1' src="{% static 'assets\imgs\icons\record-circle.svg' %}" alt="Default">
                                                        {% else %}
                                                            <a href="{% url 'user_app:default_address' address.id %}" class="">
                                                                <img width="" src="{% static 'assets\imgs\icons\circle.svg' %}" alt="Default">
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                                   
                                <!--============= Listing Address ============-->
                                {% else %} {% endcomment %}
                                <div class="row">
                                    {% if form.errors %}
                                    {% for error in form.errors %}{{error}}{% endfor %}
                                    {% endif %}
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label>Full Name <span class="required">*</span></label>
                                            {{ form.name }}
                                            {% if form.errors.name %}
                                                <label class="text-danger">{{ form.errors.name.0 }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Phone Number <span class="required">*</span></label>
                                            <div class="input-group ">
                                                <div class="input-group-prepend ">
                                                    <span class="input-group-text h-100">+91</span>
                                                </div>
                                                <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter your phone number">
                                            </div>
                                            {% if form.errors.phone_number %}
                                                <label class="text-danger">{{ form.errors.phone_number.0 }}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Address line1 <span class="required">*</span></label>
                                        {{ form.address_line_1 }}
                                        {% if form.errors.address_line_1 %}
                                            <label class="text-danger">{{ form.errors.address_line_1.0 }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Address line 2<span class="required">*</span></label>
                                        {{ form.address_line_2 }}
                                        {% if form.errors.address_line_2 %}
                                            <label class="text-danger">{{ form.errors.address_line_2.0 }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Country<span class="required">*</span></label>
                                        {{ form.country }}
                                        {% if form.errors.country %}
                                            <label class="text-danger">{{ form.errors.country.0 }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>State<span class="required">*</span></label>
                                        {{ form.state }}
                                        {% if form.errors.state %}
                                            <label class="text-danger">{{ form.errors.state.0 }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>City<span class="required">*</span></label>
                                        {{ form.city }}
                                        {% if form.errors.city %}
                                            <label class="text-danger">{{ form.errors.city.0 }}</label>
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>PIN<span class="required">*</span></label>
                                        {{ form.pincode }}
                                        {% if form.errors.pincode %}
                                            <label class="text-danger">{{ form.errors.pincode.0 }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                               {% comment %}  {% endif %} {% endcomment %}
                                <div class="row mt-4">
                                    <div class="">
                                        <h5>Additional information</h5>
                                    </div>
                                    <div class="form-group mb-30">
                                        <textarea rows="5" placeholder="Order notes" name="order_note"></textarea>
                                    </div>
                                    <!-- Add other address fields here as needed -->
                                    <!-- ... -->
                                </div>
                            
                        </div>
                         <div class="col-md-6">
                           
                            <div class="toggle_info mb-3">
                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                            </div>
                            <div class="panel-collapse collapse coupon_form " id="coupon">
                                <div class="panel-body">
                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter Coupon Code...">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn  btn-md" name="login">Apply Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail"><img src="{{cart_item.product.thumbnail_image.url}}" alt="#"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="{{cart_item.product.get_url}}">{{cart_item.product.product}}{% if cart_item.product.translator %}({{cart_item.product.language}}){% endif %}</a> x {{cart_item.quantity}}</h5>
                                                    <p class="font-xs">by {{cart_item.product.product.author.author_name}}<br> {% if cart_item.product.translator %}{{cart_item.product.translator}}(translator){% endif %}
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>Rs.{{cart_item.product.sale_price}} </span></td>
                                            </tr>
                                            {% endfor %}
                                            <!--Cart-Subtotal, Tax, Total-->
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">Rs.{{total}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Tax</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>{{tax}}</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">Rs.{{grand_total}}</span></strong></td>
                                            </tr>
                                            <!--Cart-Subtotal, Tax, Total-->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option">
                                        <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                            <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#cashOnDelivery" aria-controls="cashOnDelivery">Cash on Delivery</label>
                                            <div class="form-group collapse in" id="cashOnDelivery">
                                                <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                            </div>
                                        </div>
                                        {% comment %} <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                            <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Check Payment</label>
                                            <div class="form-group collapse in" id="checkPayment">
                                                <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                            </div>
                                        </div> {% endcomment %}
                                        {% comment %} <div class="custome-radio">
                                            <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                            <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                            <div class="form-group collapse in" id="paypal">
                                                <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                                <button type = "submit" name="submit" class="btn btn-block">Place Order</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </section>
            
        <!--================== checkout =====================-->
                    

    <!--========= Main end ==========-->
    </main>
    <!--===================--> 

{% include "includes/user_footer.html" %}
<!--========= Preloader Start ==========-->
{% comment %}     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
<!--========= Preloader end ==========-->

<!--========= Vendor JS==========-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!--===================-->

<!--========= Template  JS ==========-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
<!--===================-->
   
</body>

{% endblock content %}