


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .invoice-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .invoice-details {
            margin-bottom: 20px;
        }

        .items-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .items-table th,
        .items-table td {
            padding: 8px;
            border: 1px solid #ccc;
        }

        .total {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="title_wrap">
        <p class="title bold">BookLoom</p>
        {% comment %} <p class="sub_title"> </p> {% endcomment %}
    </div>
    <div class="invoice-header">
        <h1>Invoice</h1>
    </div>
    <div class="invoice-details">
        <div class="details-column">
            <p class="invoice_no">
                <span class="bold">Invoice Number:</span>
                <span class="value">#{{ order.order_number }}</span>
            </p>
            <p class="date">
                <span class="bold">Date:</span>
                <span class="value">{{ order.created_at }}</span>
            </p>
            <p class="payment-status">
                <span class="bold">Payment Status:</span>
                {% if order.payment.payment_method == 'Cash on Delivery' %}
                <span class="value">Cash on Delivery</span>
                {% elif order.payment.payment_method == 'Razor-pay' %} 
                <span class="value">Paid Rs.{{order.payment.amount_paid}} Online</span>
                {% endif %}
            </p>
            <p class="customer">
                <span class="bold">Customer:</span>
                <span class="value">{{address.name}}</span>
            </p>
        </div>
        <div class="details-column">
            <p class="shipping-to">Shipping To:</p>
            <strong class="shipping-name">{{address.name}}</strong>
            <span class="shipping-address">
                {{address.address_line_1}}, {{address.address_line_2}}<br>
                {{address.city}}, {{address.state}}, {{address.country}}
            </span>
        </div>
    </div>
    
    <table class="items-table">
        <thead>
            <tr>
                <th>Item</th>
               
                <th>Quantity</th>
                <th>Unit Price</th>
                
            </tr>
        </thead>
        <tbody>
            {%  for item in ordered_product %}
            <tr>
                <td>{{item.product.product.product_name}}</td>

                <td>{{item.quantity}}</td>
                <td>RS.{{item.product_price}}</td>
                
            </tr>
            {% endfor %}


            
            <script>
                // This script calculates the total and updates the corresponding <span> element.
                document.addEventListener("DOMContentLoaded", function() {
                    var totalCells = document.querySelectorAll(".total-value");
                    totalCells.forEach(function(cell) {
                        var quantity = parseFloat(cell.parentNode.previousElementSibling.previousElementSibling.textContent);
                        var price = parseFloat(cell.parentNode.previousElementSibling.textContent.substring(2)); // Removing the 'RS.' from the price
                        var total = quantity * price;
                        cell.textContent = "RS." + total.toFixed(2);
                        console.log(cell.textContent)
                    });
                });
            </script>
          
        </tbody>
    </table>
    <div class="total">
        <p><strong>Net Amount inc product discount: RS.{{subtotal}}</strong></p>
    </div>
    <div class="total">
        <p><strong>Total Discout: -RS.{{discount}}</strong></p>
    </div>
    <div class="total">
        <p><strong>Total Amount inc TAX: RS.{{order.order_total}}</strong></p>
    </div>
</body>
</html>
