


{% extends "user_base.html" %}
{% load static %}

{% block title %}
{{user}}'s cart
{% endblock %}

{% block content %}
<body>
    
{% include "includes/alerts.html" %}
 
{% include "includes/user_navbar.html" %}

    <!--=========Main start==========-->
    <main class="main">  
    <!--===================--> 

        <!--================== Payment =====================-->
        
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="index.html" rel="nofollow">Home</a>
                        <span></span> Shop
                        <span></span> Shipping Address
                        <span></span> Payment
                    </div>
                </div>
            </div>
            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-sm-15">
                           
                        </div>
                        <div class="col-lg-6">
                            
                        </div>
                    </div>
                    {% comment %} <div class="row">
                        <div class="col-12">
                            <div class="divider mt-50 mb-50"></div>
                        </div>
                    </div> {% endcomment %}
                    <div class="row">
                        <div class="col-md-6">
                        
                        <!--Shipping details-->
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Shipping details</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">Deliver to</td>
                                            <td >
                                                <h5>{{ order.address.name }}</h5>
                                            </td>
                                            <td rowspan="2"><a href="{% url "cart_app:delivery_address" %}">Edit</a></td>
                                        </tr>
                                            <td>
                                                <p class="">{{ order.address.address_line_1}}</p>
                                                {% if order.address.address_line_2 %}
                                                <p class="">{{ order.address.address_line_2}}</p>
                                                {% endif %}
                                                <p class="">Phone Number: 91+ {{ order.address.phone_number }}</p>
                                                <p class="">Pin Code: {{ order.address.pincode}}</p>
                                                <p class="">{{ order.address.city }} {{ order.address.state }} India</p>
                                                {% if order.order_note %}
                                                <strong>Order Note:</strong> {{ order.order_note }}
                                                {% endif %}
                                            </td>
                                               
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        </div>
                        <!--Shipping details-->

                        <!--Payment Options-->
                        <div class="order_review">
                            <div class="mb-25">
                                <h4>Payment Details</h4>
                            </div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment options</h5>
                                </div>
                                <div class="payment_option">
                                    <a href="{% url 'order_app:order_success' %}" class="btn btn-block">Proceed with cash on delivery</a>
                                    <button type="submit" id="rzp-button1"
                                    class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                    Pay &#8377;{{order.order_total}} & Place Order
                                    </button>
                                    {% comment %}
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                        <div class="form-group collapse in" id="paypal">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <!--Payment Options-->
                            
                        </div>
                         <div class="col-md-6">
                        <!-- Coupon -->
                            <div class="toggle_info mb-3">
                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                            </div>
                            <div class="panel-collapse collapse coupon_form " id="coupon">
                                <div class="panel-body">
                                    <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter Coupon Code...">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn  btn-md" name="login">Apply Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <!-- Coupon -->
                        
                        <!-- list order-->
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail"><img src="{{cart_item.product.thumbnail_image.url}}" alt="#"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="{{cart_item.product.get_url}}">{{cart_item.product.product}}{% if cart_item.product.translator %}({{cart_item.product.language}}){% endif %}</a> x {{cart_item.quantity}}</h5>
                                                    <p class="font-xs">by {{cart_item.product.product.author.author_name}}<br> {% if cart_item.product.translator %}{{cart_item.product.translator}}(translator){% endif %}
                                                    </p>
                                                </td>
                                                <td class="price" data-title="Price"><span>Rs.{{cart_item.product.sale_price}} </span></td>
                                            </tr>
                                            {% endfor %}
                                            <!--Cart-Subtotal, Tax, Total-->
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td colspan="2" class="cart_total_amount"><span class="font-lg fw-900 text-brand">Rs.{{total}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Tax</td>
                                                <td colspan="2" class="cart_total_amount"> <i class="ti-gift mr-5"></i>{{tax}}</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td colspan="2" class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">{{order.order_total}}</span></strong></td>
                                            </tr>
                                            <!--Cart-Subtotal, Tax, Total-->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>                       
                            </div>
                        <!-- list order-->
                        </div>
                        
                    </div>
                </div>
                </div>
            </section>
            
        <!--================== Payment =====================-->
                    

    <!--========= Main end ==========-->
    </main>
    <!--===================--> 

{% include "includes/user_footer.html" %}
<!--========= Preloader Start ==========-->
{% comment %}     <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
<!--========= Preloader end ==========-->

<!--========= Vendor JS==========-->
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<!--===================-->

<!--========= Template  JS ==========-->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
<!--===================-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_fGwLaAdAhjOjbm",
        "amount": "{{payment.amount}}",
        "currency": "INR",
        "name": "BookLoom",
        "description": "Test Transaction",
        "image": "{% static '/assets/imgs/theme/logom.png' %}",
        "order_id": "{{payment.id}}",
        "callback_url": "http://127.0.0.1:8000/payment-handler/?amount={{payment.amount}}",
        "prefill": {
            "name": "{{order.address.name}}",
            //"email": "{{email}}",
            "contact": "{{order.address.phone_number.phone_number}}"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        //alert(response.error.description);
        //alert(response.error.source);
        //alert(response.error.step);
        // alert(response.error.reason);
        // alert(response.error.metadata.order_id);
        // alert(response.error.metadata.payment_id);
        window.location.href = `{{ failed_url }}?error_code = ${response.error.code}&error_description=${response.error.description}&error_reason=${response.error.reason}&error_payment_id=${response.error.metadata.payment_id}&error_order_id=${response.error.metadata.order_id}&method=COD`
    });
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>
   
</body>

{% endblock content %}