{% extends "admin_base.html" %}
{% load static %}

{% block title %}
Add Language
{% endblock %}

{% block content %}

<div class="screen-overlay"></div>
{% include "includes/admin_sidebar.html" %}

<main class="main-wrap">
    {% include "includes/admin_navbar.html" %}
   
    
    <section class="content-main">
        <form method="POST" enctype="multipart/form-data">
    
            {% csrf_token %}
            <div class="col-12">
                <div class="content-header">
                    <div class="card-header bg-transparent border-0">
                        <h2 class="content-title">Add Language</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Language details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row px-5">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="name" class="form-label">Language Name</label>
                                        {{ form.name }}
                                        {% if error %}
                                                <label class="text-danger">{{error.name}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                                
                            </div>


                            <div class="row px-5 mx-1">
                                <label class="form-check my-2 ">
                                    {{form.is_active}}
                                    <span class="form-check-label"> Is Active </span>
                                </label>
                            </div>
                            <div class="row  px-5 mx-1">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <button type="submit" class="w-100 btn btn-md rounded-pill font-sm hover-up">Create Language</button>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <a href="admin_app:list_panguage" class="btn btn-dark rounded-pill w-100">Go Back</a>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div> <!-- card end// -->
                    
                    <hr>
                </div>
             </div>
        </form>
    </section>

<!-- content-main end// -->
{% include "includes/admin_footer.html" %}
</main>
<script>
    $(document).ready(function() {
        // Attach input event listener to the "Language Name" field
        $('#id_name').on('input', function() {
            var inputValue = $(this).val();
            // Capitalize the first letter of each word
            $(this).val(inputValue.toTitleCase());
        });
    });

    String.prototype.toTitleCase = function() {
        return this.toLowerCase().split(' ').map(function(word) {
            return word.charAt(0).toUpperCase() + word.slice(1);
        }).join(' ');
    };
</script>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/custom-chart.js' %}" type="text/javascript"></script>



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>

{% endblock content %}