{% extends "admin_base.html" %}
{% load static %}

{% block title %}
users info
{% endblock %}

{% block content %}

<div class="screen-overlay"></div>
{% include "includes/admin_sidebar.html" %}

<main class="main-wrap">
    {% include "includes/admin_navbar.html" %}
   
    
    <section class="content-main">
        <form method="POST" enctype="multipart/form-data">
    
            {% csrf_token %}
            <div class="col-12">
                <div class="content-header">
                    <div class="card-header bg-transparent border-0">
                        <h2 class="content-title">Add Product</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Product details</h4>
                            
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        {{ form.product_name }}
                                        {% if form.product_name.errors %}
                                                <label class="text-danger">{{form.product_name.errors}}</label>
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label for="category" class="form-label">Category</label>
                                        {{ form.category }}
                                        {% if form.category.errors %}
                                                <label class="text-danger">{{form.category.errors}}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row justify-content-between">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <label class="form-label">Author</label>
                                                <div class="input-group">
                                                    {{ form.author }}
                                                    {% if form.author.errors %}
                                                        <label class="text-danger">{{form.author.errors}}</label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 pt-4">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <button type="button" class="btn btn-primary px-3 mx-2 add-new d-none d-md-inline"><i class="bi bi-plus-lg"></i> Add</button>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editPublicationModal"><i class="bi bi-pencil"></i> Edit</button>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="mb-4">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <label class="form-label">Publication</label>
                                                <div class="input-group">
                                                    {{ form.publication }}
                                                    {% if form.publication.errors %}
                                                        <label class="text-danger">{{form.publication.errors}}</label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-6 pt-4">
                                                <div class="d-flex align-items-center justify-content-end">
                                                    <button type="button" class="btn btn-primary px-3 mx-2 add-new d-none d-md-inline"><i class="bi bi-plus-lg"></i> Add</button>
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editPublicationModal"><i class="bi bi-pencil"></i> Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Short Description</label>
                                        <div class="row gx-2">
                                            {{ form.short_description }}
                                            {% if form.short_description.errors %}
                                                <label class="text-danger">{{form.short_description.errors}}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                        <div class="mb-4">
                                            <label class="form-label">Thumbnail Image</label>
                                            <div class="row gx-2">
                                                {{ form.thumbnail_image }}
                                                {% if form.thumbnail_image.errors %}
                                                    <label class="text-danger">{{form.thumbnail_image.errors}}</label>
                                                {% endif %}
                                            </div>
                                        </div>
                                
                                </div>
                            
                           
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-4">
                                        <label class="form-label">Long Description</label>
                                        <div class="row gx-2">
                                            {{ form.long_description }}
                                            {% if form.long_description.errors %}
                                                <label class="text-danger">{{form.long_description.errors}}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-between">
                                <div class="col-lg-3">
                                    <div class="mb-4">
                                        <label class="form-label">MRP</label>
                                        <div class="row gx-2">
                                            {{ form.max_price }}
                                            {% if form.max_price.errors %}
                                                <label class="text-danger">{{form.max_price.errors}}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-4">
                                        <label class="form-label">Sale Price</label>
                                        <div class="row gx-2">
                                            {{ form.sale_price }}
                                            {% if form.sale_price.errors %}
                                                <label class="text-danger">{{form.sale_price.errors}}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <div class="row gx-2">
                                            {{ form.stock}}
                                            {% if form.stock.errors %}
                                                <label class="text-danger">{{form.stock.errors}}</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="form-check my-2">
                                    {{form.is_available}}
                                    <span class="form-check-label"> Is Active </span>
                                </label>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-6 mb-4">
                                    <button type="submit" class="w-100 btn btn-md rounded-pill font-sm hover-up">Add Product</button>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <a href="{% url 'admin_app:list_products' %}" class="btn btn-dark rounded-pill w-100">Go Back</a>
                                </div>
                            </div>
                            
                        </div>
                    </div> <!-- card end// -->
                    
                    <hr>
                    <!--adding the variant part-->
                    <!--will change this as iam going to add the vairants in the attribute and attribute_value-->
                    {% comment %} <div class="card mb-4">
                        <div class="card-body">
                            <div class="card-header">
                                <h5 >Product Variants</h5>
                            </div>
                            <a href="{% url 'create_product_variant' slug %}" class="btn btn-dark rounded-pill my-4 p-3">Add New Product Variant</a>
                        </div>
                        {% if not product_variants %}
                        <h5 class="mt-3 text-warning">No variants added</h5>
                        {% else %}
              
                            {% for product_variant in product_variants %}
                            <ul>
                                <li class="m-3">
                                    <a href="{% url 'product_variant_update' product_variant.product_variant_slug %}">
                                        {{ product_variant.product_variant_slug}}
                                        {% for attribute in product_variant.attributes.all %}
                                            {{ attribute.attribute_value }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </a>
                                </li>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    </div> {% endcomment %}
                    
                </div>
                
                   
             </div>
                </form>
    </section>

<!-- content-main end// -->
{% include "includes/admin_footer.html" %}
</main>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/custom-chart.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>

{% endblock content %}