{% extends "admin_base.html" %}
{% load static %}

{% block title %}
List products
{% endblock %}

{% block content %}

<div class="screen-overlay"></div>
{% include "includes/admin_sidebar.html" %}

<main class="main-wrap">
    {% include "includes/admin_navbar.html" %}
    <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    {% include "includes/alerts.html" %}
                </div>
              {% comment %}   <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                </div> {% endcomment %}
            </div>
            <div class="card mb-4">
                <!--listing the products-->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"><h5>ID</h5></th>
                                <th scope="col"><h5>Title</h5></th>
                                <th scope="col"><h5>Author</h5></th>
                                <th scope="col"><h5>Category</h5></th>
                                <th scope="col"><h5>Publication Name</h5></th>
                                <th scope="col"><h5>Language</h5></th>
                                <th scope="col"><h5>Availability</h5></th>
                                <th scope="col"><h5>Actions</h5></th>
                                <th scope="col"><h5>Other languages</h5></th>
                            </tr>
                        </thead>
                    {% for data in pro_data %}
                        {% if data.translator == None %}
                            <tbody>
                                <tr >
                                    <td class="border-bottom-0 text-center">
                                        <h6 class="fw-semibold tablecontent mb-1">{{ forloop.counter }}</h6>
                                    </td>
                                    <td>
                                        <div class="left pb-0"> 
                                            <a href="{% url 'admin_app:edit_products' data.product_variant_slug %}">
                                                <img src="{{data.thumbnail_image.url}}" class="img-thumbnail " alt="Item" style="max-width: 50px;">
                                            </a>
                                        </div>
                                        <div class=""><a href="{% url 'admin_app:edit_products' data.product_variant_slug %}">{{data.product}}</a></div>
                                    </td>
                                    <td class='pt-0'>{{data.product.author}}</td>
                                    <td>{{data.product.category.category_name}}</td>
                                    <td>{{data.publication}}</td>
                                    <td>{{data.language}}</td>
                                    {% if data.is_active == True %}
                                        <td><span class='badge rounded-pill alert-success'>&#10004;</span></td>
                                        <td><a href="{% url 'admin_app:control_products' data.product_variant_slug %}">
                                            <button class="btn btn-danger mb-1 px-3">Disable</button>
                                        </a>
                                        </td>
                                    {% else %}
                                        <td><span class='badge rounded-pill alert-danger'>&#10006;</span></td>
                                        <td><a href="{% url 'admin_app:control_products' data.product_variant_slug %}">
                                            <button class="btn btn-success mb-1">Enable</button>
                                        </a>
                                        </td>
                                    {% endif %}
                                    {% if data.product.is_translated  %}
                                    <td class="text-center">Available <br><a href="{% url "admin_app:add_product_variant" data.product_variant_slug %}">add more</a></td>
                                    {% else %}
                                    <td class="text-center">Not available <br><a href="{% url "admin_app:add_product_variant" data.product_variant_slug %}">add more</a></td>
                                    {% endif %} 
                                    
                                {% else %}
                                        <tbody>
                                            <tr>
                                                <div class="d-flex align-items-center">
                                                    <td class="border-bottom-0 text-center">
                                                        <h6 class="fw-semibold tablecontent mb-1">{{ forloop.counter }}</h6>
                                                    </td>
                                                        <td > 
                                                                <a href="{% url 'admin_app:edit_products' data.product_variant_slug %}">
                                                                    <img src="{{data.thumbnail_image.url}}" class="img-thumbnail " alt="Item" style="max-width: 50px;">
                                                                </a>
                                                            {% comment %} <div class=""><a href="{% url 'admin_app:edit_products' data.product_variant_slug %}">{{data.product}}</a></div> {% endcomment %}
                                                        </td>
                                                        {% if data.translator != data.author %}
                                                        <td >{{data.translator}}<br>(translator)</td>
                                                        {% else %}
                                                        <td class="align-items-center">{{data.product.author}}</td>
                                                        {% endif %}
                                                        
                                                        <td>{{data.product.category.category_name}}</td>
                                                        <td>{{data.publication}}</td>
                                                        <td>{{data.language}}</td>
                                                        {% if data.is_active == True %}
                                                            <td><span class='badge rounded-pill alert-success'>&#10004;</span></td>
                                                            <td><a href="{% url 'admin_app:control_products' data.product_variant_slug %}">
                                                                <button class="btn btn-danger mb-1 px-3">Disable</button>
                                                            </a>
                                                            </td>
                                                        {% else %}
                                                            <td><span class='badge rounded-pill alert-danger'>&#10006;</span></td>
                                                            <td><a href="{% url 'admin_app:control_products' data.product_variant_slug %}">
                                                                <button class="btn btn-success mb-1">Enable</button>
                                                            </a>
                                                            </td>
                                                        {% endif %}
                                                        <td class="text-center"><a href="{% url 'admin_app:edit_products' data.product_variant_slug %}" class="{% comment %} btn btn-sm font-sm rounded btn-brand {% endcomment %}">
                                                            <i class="material-icons md-edit"></i> 
                                                        </a></td>
                                                </div>
                                            </tr>
                                        </tbody>
                                </tr>
                                <!--single row with translated books finish-->  
                            </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div> <!-- card end// -->
            
           {% comment %}  <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> {% endcomment %}
    </section> 
    
   <!-- content-main end// -->
    {% include "includes/admin_footer.html" %}
</main>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/chart.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/custom-chart.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>

{% endblock content %}


