

{% extends "user_base.html" %}
{% load static %}

{% block title %}
signup
{% endblock %}


{% block content %}

{% comment %} {% include "" %} {% endcomment %}

<body>
    <style>
        /* Adjust the styles for the country code dropdown and phone number input */
        .form-group.flex-container {
            display: flex;
            align-items: center;
        }
    
        .form-group.flex-container select,
        .form-group.flex-container input[type="text"] {
            flex: 3; /* 30% width for the select element */
        }
    
        .form-group.flex-container input[type="text"] {
            flex: 7; /* 70% width for the input element */
        }
    </style>
    

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="admin_template\home.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Login / Register
                </div>
            </div>
        </div>
        <section class="pt-80 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            
                            <div class="col-lg-3"></div>
                            <div class="col-lg-7">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Create an Account</h3>
                                        </div>
                        
                                        <form method="post"> {% csrf_token %}
                                            
                                            <div class="form-group">
                                                {{form.username}}
                                                {% if form.errors.username %}
                                                <label class="text-danger">{{form.errors.username}}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{form.email}}
                                                {% if form.errors.email %}
                                                <label class="text-danger">{{form.errors.email}}</label>
                                                {% endif %}
                                            </div>
                                            <div class="form-group flex-container">
                                                {{form.phone_number}}
                                                {% if form.errors.phone_number %}
                                                <label class="text-danger">{{form.errors.phone_number}}</label>
                                                {% endif %}
                                            </div>
                                            
                                            <div class="form-group">
                                                {{form.password1}}
                                                {% if form.errors.password1 %}
                                                <label class="text-danger">{{form.errors.password1}}</label>
                                                {% endif %}
                                            </div>
                                    
                                            <div class="col-md-12 form-group p_star">
                                                {{form.password2}}
                                                {% if form.errors.password2 %}
                                                <label class="text-danger">{{form.errors.password2}}</label>
                                                {% endif %}
                                            </div>
                                            <!--referral_code-->
                                            <div class="toggle_info mb-3">
                                                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a referral code?</span>
                                                <a href="#referral" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">
                                                    Click here to enter your code
                                                </a></span>
                                            </div>
                                            
                                            {% include "includes/alerts.html" %}                                             
                                            <div class="panel-collapse collapse coupon_form" id="referral">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="referral_code">Referral Code:</label>
                                                            <input type="text" id="referral_code" name="referral_code" placeholder="Enter Referral Code...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--referral_code-->
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Submit &amp; Register</button>
                                            </div>
                                        </form>

                                        

                                        <div class="divider-text-center mt-15 mb-15">
                                        {% comment %}
                                            <span> or</span>
                                        </div>
                                         <ul class="btn-login list_none text-center mb-15">
                                            <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                            <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                        </ul> {% endcomment %}
                                        <div class="text-muted text-center">Already have an account? <a href={% url "user_app:login" %}>Sign in now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

{% endblock content %}